@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: normal;
    src: url('./ravi.ttf');
}

@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: 100;
    src: url('./ravi.ttf');
}